<% layout('layoutElim') -%>
<% script('/scripts/main.js') -%>
<% stylesheet('video-js.css') -%>
<% script('video.js') -%>
<% script('profileEdit.js') -%>
<% script('elim.js') -%>

<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/elim.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

      <script>
  $(function() {
    $( "#stampVote img[title], #tweetVote[title]" ).tooltip({
      position: {
        my: "center bottom-20",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
  });

  </script>

 
  </head>
  
  <body>
    <div id="wrapper">

      <div id="video">  
        <div id="selectSong">

          <ul id="selectSongList">
            <input data-tag = "<%=v1id%>" type="button" id="playVidOne" style="display:none;"><li id="songOne" class="selected"><spanV id="vidOne" style="font-size:30px;"><%=song1%></spanV><br><spanA id="artistOne" style="font-size:15px;"><%=user1%></spanA>
              <div id = "one"> <%=votes1%> </div>
            </li>
            <input data-tag = "<%=v2id%>" type="button" id="playVidTwo" style="display:none;"><li id="songTwo" class="unselectable blurred"><spanV id="vidTwo" style="font-size:30px;"><%=song2%></spanV><br><spanA id="artistTwo" style="font-size:15px;"><%=user2%></spanA>
              <div id = "two"> <%=votes2%> </div>
            </li>

            <script>
           $('li#songOne').click(function() {
             $('input#playVidOne').click();
            });
           </script>
            <script>
           $('li#songTwo').click(function() {
             $('input#playVidTwo').click();
            });
           </script>


          <script>
          $("document").ready(function(){
            $("input#playVidTwo").click(function() {
            $('li#songTwo').removeClass("blurred");
            $('li#songTwo').addClass("selected");
            $('li#songOne').removeClass("selected");
            $('li#songOne').addClass("blurred");
          })
          });          
          </script> 
          <script>
          $("document").ready(function(){
            $("input#playVidOne").click(function() {
            $('li#songOne').removeClass("blurred");
            $('li#songOne').addClass("selected");
            $('li#songTwo').removeClass("selected");
            $('li#songTwo').addClass("blurred");
          })
          });          
          </script>           
          </ul> 
        </div>

        <div class="c12 end" id="videoPlayer" style="border:none">
          <ul id="songOneVote" style="float:left; margin-left:2%;" class="unclickable">
            <li id="labelOne">
              <labelName style="font-size:15px;"><b><%=user1%></b></labelName>
            </li>               
            <li id="stampVote">
              <img  data-tag = "<%=v1id%>"src="favoriteIcon.png" id="voteOne" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;" title="+1 Vote for Artist One">
            </li>  
            <li id="fbVote">
              <a expr:share_url='data:post.url' href='http://www.facebook.com/sharer.php' name='fb_share' type='box_count'>Share</a>
            </li>          
            <li id="tweetVote" style="margin-top:20px;" title=""><a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></li>
            <li id="banOne" onclick="openBanOne();"><img src="banButton.png" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
              <ul id="banContentOne" style="visibility:hidden;" class="banWrapper">
                <div id="firstThird">  
                <li id="badContent" style="font-size:12px;">Explicit Content</li>
                </div>
                <div id="secondThird">  
                <li id="badSong" style="font-size:12px;">This Song Sucks!</li>
                </div>
                <div id="finalThird">  
                <li id="wrongGenre" style="font-size:12px; border-bottom:none;">Wrong Genre</li>
                </div>
              </ul>             
            </li> 

          </ul>      

          <ul id="songTwoVote" style="float:right; margin-right:5%;" class="unclickable">
            <li id="labelTwo">
              <labelName style="font-size:15px;"><b><%=user2%></b></labelName>
            </li>                   
            <li id="stampVote">
              <img data-tag="<%=v2id%>"src="favoriteIcon.png" id="voteTwo" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;" title="+1 Vote for Artist Two">
            </li>             
            <li id="fbVote">      
              <b:if cond='data:blog.pageType != &quot;static_page&quot;'>
              <a expr:share_url='data:post.url' href='http://www.facebook.com/sharer.php' name='fb_share' type='box_count'>Share</a><script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script>
              </b:if>
            </li>          
            <li id="tweetVote" style="margin-top:20px;" title=""><a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></li>
            <li id="banTwo" onclick="openBanTwo();"><img src="banButton.png" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
              <ul id="banContentTwo" style="visibility:hidden;" class="banWrapper">
                <div id="firstThird">  
                <li id="badContent" style="font-size:12px;">Explicit Content</li>
                </div>
                <div id="secondThird">  
                <li id="badSong" style="font-size:12px;">This Song Sucks!</li>
                </div>
                <div id="finalThird">  
                <li id="wrongGenre" style="font-size:12px; border-bottom:none;">Wrong Genre</li>
                </div>
              </ul>  
            </li>

          </ul>  

           <video height="500px" width="70%" id="vidYo" class="video-js vjs-default-skin" autoplay="true" data-setup='{"techOrder": ["html5", "flash"]}'>           
            <source src="" type="video/mp4" id = "source">
            </video>
            <strong><p id="tenSecs" style="font-size:25px; text-align:center;color:rgba(180,7,6,1);">Voting and Sharing will appear after you watch each video!</p></strong>
            <input type="button" value="Next" id="next"></input>
        </div>   
    </div> 

<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

</div>

<script>
  $(document).ready(function(){
    $('#create').show();
  });

</script>



<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
</body>
   
<script>
  videojs("vidYo", {}, function(){
  // Player (this) is initialized and ready.
  });
</script>
<script>
  videojs.options.flash.swf = "video-js.swf"
</script>     


<!--Twitter Tweet Script-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="twitterTweet.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!--End Tweet Script-->

<!--FB Share Script-->
<script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script>
<!--End FB Share Script-->



<% stylesheet('modals.css') -%>
<%-partial('modals', ["'NOPQ'"]) %>