<% layout('layoutElim') -%>
<% script('/scripts/main.js') -%>
<% stylesheet('video-js.css') -%>
<% script('video.js') -%>
<% script('profileEdit.js') -%>
<% script('elim.js') -%>

<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/elim.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


 
  </head>
  
  <body>
    <div id="wrapper">

      <div id="video">  
        <div id="selectSong">
    <!--    <a href="" class="genreLink selected" id="rap" style="color:#FFFFFF">Rap and R&B</a>
        <a href="" class="genreLink blurred" id="pop" style="color:#FFFFFF">Pop and Country</a>
        <a href="" class="genreLink blurred" id="edm" style="color:#FFFFFF">EDM and Instrumental</a>
        <a href="" class="genreLink blurred" id="folk" style="color:#FFFFFF">Folk and International</a>
        <a href="" class="genreLink blurred" id="alt" style="color:#FFFFFF">Alternative and Hard Rock</a> 
-->

          <ul id="selectSongList">
            <input data-tag = "<%=v1id%>" type="button" id="playVidOne" style="display:none;"/><li id="songOne" class="selected"><span style="display:inline-block;max-width:200px; overflow:hidden; text-overflow:ellipsis;"><spanV id="vidOne" style="font-size:20px;"><%=song1%></spanV></span>

            <spanA id="artistOne" style="font-size:15px;"> &#8211; 
              <span style="display:inline-block;max-width:150px; overflow:hidden; text-overflow:ellipsis;">
              <%=user1%>
              </span>
            </spanA>
        <!--      <div id = "one"> <%=votes1%> </div> -->
            </li>
            <span id="verses" style="margin-left:6%;float:left;margin-top:0px;font-size:25px;"><strong>vs</strong></span>
            <input data-tag = "<%=v2id%>" type="button" id="playVidTwo" style="display:none;" disabled/><li id="songTwo" class="blurred"><span style="display:inline-block;max-width:200px; overflow:hidden; text-overflow:ellipsis;"><spanV id="vidTwo" style="font-size:20px;"><%=song2%></spanV></span>

            <spanA id="artistTwo" style="font-size:15px;"> &#8211; 
              <span style="display:inline-block;max-width:150px; overflow:hidden; text-overflow:ellipsis;">
              <%=user2%>
              </span>
            </spanA>
             <!-- <div id = "two"> <%=votes2%> </div> -->
            </li>

            <script>
           $('li#songOne').click(function() {
             $('input#playVidOne').click();
            });
           </script>
            <script>
           $('li#songTwo').click(function() {
             $('input#playVidTwo').click();
            });
           </script>


          <script>
          $("document").ready(function(){
            $("input#playVidTwo").click(function() {
            $('li#songTwo').removeClass("blurred");
            $('li#songTwo').addClass("selected");
            $('li#songOne').removeClass("selected");
            $('li#songOne').addClass("blurred");
          })
          });          
          </script> 
          <script>
          $("document").ready(function(){
            $("input#playVidOne").click(function() {
            $('li#songOne').removeClass("blurred");
            $('li#songOne').addClass("selected");
            $('li#songTwo').removeClass("selected");
            $('li#songTwo').addClass("blurred");
          })
          });          
          </script>           
          </ul> 
        </div>                              

        <div class="c12 end" id="videoPlayer" style="border:none">
          <ul id="songOneVote" style="float:left; margin-left:2%; max-width:150px; overflow:hidden;" class="unclickable">
            <li id="labelOne" sytle="">
              <labelName id = "subartist1" style="font-size:15px;"><b><%=user1%></b></labelName>
            </li>               
            <li id="stampVote">
              <img  data-tag = "<%=v1id%>"src="favoriteIcon.png" id="voteOne" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;" title="Vote to give this artist a point">
            </li>  
            <li id="fbVote" title="Share to give this artist another point">
              <a expr:share_url='data:post.url' href='http://www.facebook.com/sharer.php' name='fb_share' type='box_count' title="Share to give this artist another point">Share</a>
            </li>          
            <li id="tweetVote" style="margin-top:20px;" title="Tweet to give this artist another point"><a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical" title="Tweet to give this artist another point">Tweet</a></li>
            <li id="followOne"><input type="button" value="Follow" class="stampFollow" id="<%=id%>"></li>
            <li id="favoriteOne" style="margin-top:5px;"><input type="button" style="font-size:10px;"value="Favorite" class="stampFollow" id="<%=id%>"></li><br> 
            <img src="h" id="adRight" style="height:170px; width:170px;float:left; margin-left: 0%;margin-top:260px;">
            <!--<li id="banOne" ><img src="banButton.png" onmouseover="openBanOne();" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
              <ul id="banContentOne" style="visibility:hidden;" class="banWrapper">
                <div id="firstThird">  
                <li id="badContent" style="font-size:12px;">Explicit Content</li>
                </div>
                <div id="secondThird">  
                <li id="badSong" style="font-size:12px;">This Song Sucks!</li>
                </div>
                <div id="finalThird">  
                <li id="wrongGenre" style="font-size:12px; border-bottom:none;">Wrong Genre</li>
                </div>
              </ul>             
            </li> -->

          </ul>      

          <ul id="songTwoVote" style="float:right; margin-right:5%;" class="unclickable">
            <li id="labelTwo"> 
              <labelName id = "subartist2" style="font-size:15px;max-width:150px; overflow:hidden;"><b><%=user2%></b></labelName>
            </li>                   
            <li id="stampVote">
              <img data-tag="<%=v2id%>"src="favoriteIcon.png" id="voteTwo" style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;" title="Vote to give this artist a point">
            </li>             
            <li id="fbVote" title="Share to give this artist another point">      
              <b:if cond='data:blog.pageType != &quot;static_page&quot;'>
              <a expr:share_url='data:post.url' href='http://www.facebook.com/sharer.php' name='fb_share' type='box_count'>Share</a><script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script>
              </b:if>
            </li>          
            <li id="tweetVote" style="margin-top:20px;" title="Tweet to give this artist another point"><a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical" title="Tweet to give this artist another point">Tweet</a></li>
           <!-- <li id="banTwo" ><img src="banButton.png" onmouseover="openBanTwo();"  style="height:40px;width:40px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
              <ul id="banContentTwo" style="visibility:hidden;" class="banWrapper">
                <div id="firstThird">  
                <li id="badContent" style="font-size:12px;">Explicit Content</li>
                </div>
                <div id="secondThird">  
                <li id="badSong" style="font-size:12px;">This Song Sucks!</li>
                </div>
                <div id="finalThird">  
                <li id="wrongGenre" style="font-size:12px; border-bottom:none;">Wrong Genre</li>
                </div>
              </ul>  
            </li>-->
            <li id="followTwo"><input type="button" value="Follow" class="stampFollow" id="<%=id%>"></li>
            <li id="favoriteOne" style="margin-top:5px;"><input type="button" style="font-size:10px;"value="Favorite" class="stampFollow" id="<%=id%>"></li><br> 
          </ul>  
          <img src="h" id="adLeft" style="height:170px; width:170px;float:left; margin-left: 0%;margin-top:260px;">
           <video height="500px" width="70%" id="vidYo" class="video-js vjs-default-skin" controls autoplay="true" data-setup='{"techOrder": ["html5", "flash"]}'>           
            <source src="" type="video/mp4" id = "source">
            </video>
            <strong><p id="tenSecs" style="font-size:25px; text-align:center;color:rgba(180,7,6,1);">Voting and Sharing will appear after you watch each video!</p></strong>
            <input type="button" value="Next" id="next"></input>
        </div>   
    </div> 

<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

</div>

<script>
  $(document).ready(function(){
    $('#create').show();
  });

</script>



<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
</body>
   
<script>
  videojs("vidYo", {}, function(){
  // Player (this) is initialized and ready.
  });
</script>
<script>
  videojs.options.flash.swf = "video-js.swf"
</script>     


<!--Twitter Tweet Script-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="twitterTweet.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!--End Tweet Script-->

<!--FB Share Script-->
<script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script>
<!--End FB Share Script-->



<% stylesheet('modals.css') -%>
<%-partial('modals', ["'NOPQ'"]) %>