<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type="text/javascript"></script>
	<script src="/include/ejs_production.js" type="text/javascript"></script>
    <script src="/include/jquery.ejs.js" type="text/javascript"></script>
	
    <%-scripts%>
    <%-stylesheets%>

  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>
