<% layout('layout') -%>
<% script('/scripts/main.js') -%>
<% script('profileEdit.js') -%>
<% script('users.js') -%>
<% stylesheet('video-js.css') -%>
<% script('video.js') -%>
<% script('feed.js') -%>
<% script('profile.js') -%>
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/profile.css">
    <link rel="stylesheet" type="text/css" href="/dropzone.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div id="wrapper">


<div id="profileContent" class="grid wfull">

  <div class="row">
    <div class="c3" id="songList" style="position: center">
          <center><span id="songListLabel">Songs</span></center>
          <div id="songContent">
           <div id="song">
             <div style=" overflow:auto;">
               <table cellspacing="0" cellpadding="1" cellpadding class = "songnames" id = "songTable">
      <% songs.forEach(function(song){ %>
        <tr id="song_name" style="color:#000;" class = "<%=song._id%>">
          <td><div data-tag ="<%=song._id%>" class = "vidPlay" style="width:100px;"><%= song.name %></div></td>
          <td><img data-name = "<%=song.name%>" data-tag ="<%=song._id%>" class = "addPlay" src="http://cdn2.iconfinder.com/data/icons/picons-essentials/71/plus-512.png" style="height:20px;width:25px;float:right;"></td>
          <td><img data-name = "<%=song.name%>" data-tag = "<%=song._id%>" class="deletebutton" src="http://cdn2.iconfinder.com/data/icons/picons-essentials/71/plus-512.png" style="height:20px;width:25px;float:right;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);"></td>
        </tr>
      <% }); %>
          </table>  
        </div>
            </div> 
          </div>
        </div>

<div id = "users" style="float:left"></div>
        <center>
        <div id="name" class="c4">

        <spanName id="displayName" onclick="exchange(this); visibilityName();" style="color:black"><%=name%></spanName>
        <form method = "POST" action = "/changeName" id = "chName">
          <input id="displayNameEdit" name="editName" class="replace" style="font-size:20px" type="text" value="">
          <input type="submit" id="submitNameButton" value="Submit" style="visibility: hidden" onclick="visibilityName(); exchange((document.getElementById('displayNameEdit')));"/>
        </form>
        <div id="location">
        <spanLocation id="spanLocation">
        <span id="displayLocation" onclick="exchange(this); visibilityLocation();"><%=location%></span>
        </spanLocation>
        <form method = "POST" action = "/changeLocation" id = "chLoc">
          <input id="displayLocationEdit" name="editLocation" style="font-size:10px"class="replace" type="text" value="">
          <input type="submit" id="submitLocationButton" value="Submit" style="visibility: hidden" onclick="visibilityLocation(); exchange((document.getElementById('displayLocationEdit')));"/>
        </form>
        </div>
    	<div id="profilePicture"><img id="picture" src="<%=imgid%>">
        <form method = "POST" action = "/changeImage" id = "chImg">
          <input type="file" id="uploadPicture" data-tag = "<%=imgid%>" style="visibility:hidden">  
        </form>
        <!--Profile Pic Upload Dialog-->    
           <script>
           $('#picture').click(function() {
             $('#uploadPicture').click();
            });
           </script>
        <!--END Profile Pic Upload Dialog--> 
      </div>

    	<div id="bio" >
	  <spanBio id="displayBio" onclick="exchange(this); visibilityBio();"><%=bio%></spanBio>
        <form method = "POST" action = "/changeBio" id = "chBio">
          <textarea rows="1" cols="9" id="displayBioEdit" name="editBio" class="replace" value=""></textarea>
          <input type="submit" id="submitBioButton" value="Submit" style="visibility: hidden" onclick="visibilityBio(); exchange((document.getElementById('displayBioEdit')));"/> 
        </form> 
      </div>

        <ul id="interaction">
        <center>
        <a href="#followingList" id="followingLink"><li><div id="following" style="font-size:15px"><strong>Following</strong><br></div></li></a>
        <a href="<%=facebook%>" id="fb"><li><img src="facebookIcon.png" id="fbIcon"></li></a>
        <a href="<%=facebook%>" id="stamp"><li><img src="facebookIcon.png" id="stampFollow"></li></a>
        <a href="<%=twitter%>" id="twit"><li><img src="twitter.png" id="twitIcon"></li></a> 
        <a href="#followersList" id="followersLink"><li><div id="followers" style="font-size:15px"><strong>Followers</strong><br></div></li></a>
        </center>
        </ul>

        <div id="video">
          <div class="c12 end" id="videoPlayer" style="border:none">
           <video id="vidYo" class="video-js vjs-default-skin" controls autoplay="true" data-setup='{"techOrder": "html5", "flash", "other supported tech"]}'>
                <source src="" type="video/mp4" id = "source">
            </video>
            <br>
            <div id="feed"></div>
          </div>   

         </div> 
</div>
   
</center>	


    <div class="c3" id="playlist" style="float:right">
          <center><span id="playlistLabel">Favorites</span></center>
          <div id="playlistContent">
              <div id="song" style=" overflow:auto;">
        <table cellspacing="0" cellpadding="0" >
               <table cellspacing="0" cellpadding="1" style="color:#000" id = "playlistTable">
      <% playlist.forEach(function(play){ %>
        <tr id="playlist_name" class = "p<%=play._id%>">
          <td><div style="width:150px;" data-tag ="<%=play._id%>" class = "vidPlay"><%= play.name %></div></td>
          <td><img data-tag = "<%=play._id%>" class="playdelete" id = "<%=play._id%>" src="http://cdn2.iconfinder.com/data/icons/picons-essentials/71/plus-512.png" style="height:20px;width:25px;float:right;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);"></td>
        </tr>
        <% }); %>
          </table> 
        </table>
            </div> 
          </div>
        </div> 

</div>
</div>
    <div class="row">
      <div class="c4" id="upload_block" style="float:left">
        <script src="/dropzoneProfile.js"></script>
        <form method = "POST" action="/file-upload" class="dropzone" enctype = "multipart/form-data" style="color:#000">
          <center><span style="font-size: 30px"><strong>Upload Songs to Your Profile</strong></span></center>
        </form>
      </div>

    </div>  

<!-- Modal Window(s) -->

<div id="<%=createModal%>" class="modalDialogCreate">
    <div id="profileSection" class="grid wfull" style="color: white">
    <div class="row">
      <div class="c12" id="createPageLabel" style="font-size:30px">
        <h1>Create your Profile</h1>
      </div>  
    <form method = "POST" action = "/create" enctype = "multipart/form-data">
    <div class="row">
      <div class="c3" id="nameCreate" style="font-size:20px">
      <input type = "text" placeholder = "name" name = "name" id= "name" required/>
      </div>
    </div>  

    <div class="row">
        <div class="c3" id="proPic" style="float:left">
          <img id="preview" src="stampman.png"/>
          <input type = "file" name = "picture" id = "pic" accept = 'image/*' onchange="previewImage(this)">
          <div class="c2" id="locationEnter" style="float:left">
          <span2 style="font-size: 15px" id="locationLabelCreate">Location: </span2><span id="locationInputCreate"><input type = "text" placeholder = "location" name = "location" id= "locationEnter" required/></span>
          </div>
        </div>
          <div class="c8" id="bioLbl" ><span3 style="font-size:15px"><strong><u>Bio:</u> </strong></span3>
          <textarea rows = "15" cols = "110" placeholder = "bio" id = "bioCreate" name = "bio" required/></textarea>
          <center><a href="/profile" title="Submit" class="submitProfileButton" id="submitProf"><input href="#close" title="Submit" class="submitProfile" type = "submit" id="createButton" value = "Click to View Your Profile"><br></center></a>
          </div>
    </div>

  </form>
  </div>  

  </div>



<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

</div>

<script>
  $(document).ready(function(){
    $('#create').show();
  });

</script>
<!-- End Modal Window(s) -->


  <!-- Modal Window(s) -->

<div id="info" class="modalDialog">
  <div>
    <center>
    <h5 style="color:white">Fill in your Song Information</h5>
    <div>
      <form method = "POST" id = "profileUpload">
        <input type="text" class="songName" placeholder="Song Name" name = "songName" id = "songName"><br><br>
       <input type="submit" value="Enter" id = "songSubmit">
      </form>
    </div>
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->

<div id="followingList" class="modalDialog_follow">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">Who you are Following</h3>    
    <div id="to"></div>   
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->

<div id="followersList" class="modalDialog_follow">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">Who's Following You</h3>    
    <div id="from"></div>   
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
</body>
<% script('video.js') -%>    		
<script>
  videojs("vidYo", {}, function(){
  // Player (this) is initialized and ready.
  });
</script>
<script>
  videojs.options.flash.swf = "video-js.swf"
</script> 		




