<% layout('layout') -%>
<% script('/scripts/main.js') -%>
<% script('profileEdit.js') -%>
<% stylesheet('video-js.css') -%>
<% script('video.js') -%>
<% script('feed.js') -%>
<% script('profile.js') -%>
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/profile.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
  </head>
  
  <body>
    <div id="wrapper">


<div id="profileContent" class="grid wfull">

  <div class="row">
      <div class="c2" id="tabs">

        <ul id="listName">
		  <li id="songButton"><a href="#songContent" id="songListLabel"><span id="vidColor" class="highlightTab">Videos</span></a></li>
      <li id="favButton" ><a href="#playlistContent" id="playlistLabel"><span id="favColor">Favorites</span></a></li>
          
          <script>
          $("document").ready(function(){
            $('a#playlistlabel').click(function(){
              $('span#favColor').addClass("highlightTab");
            })
            $("a#playlistLabel").click(function(){
              $('span#vidColor').removeClass("highlightTab");
            })
          })
            });
          });          
          </script>
          <script>
          $("document").ready(function(){
            $('a#playlistlabel').click(function(){
              $('span#favColor').addClass("highlightTab");
            })
            $("a#playlistLabel").click(function(){
              $('span#vidColor').removeClass("highlightTab");
            })
          });          
          </script>  
          
        </ul>
  
  <div id="songContent">

    <form id="uploadForm" method = "POST" action = "/song-upload" enctype = "multipart/form-data"><input name = "file" type="file" id="uploadSong" style="display:none;" accept="video/mp4, video/ogg, video/webm, video/quicktime,video/x-ms-wmv, video/x-flv, application/x-shockwave-flash">
    <div style = "color: #333333;"> To upload your video, <a style = "color: blue;" target = "_blank" href = "http://video.online-convert.com/convert-to-webm"> CLICK HERE </a> to convert it to the WebM format.
    <input type="text" name="name"	style="display:none;" id="upname">
	  <input type="text" name="genre" style="display:none;" id="upgenre">
	  <input type="text" name="explicit" style="display:none;" id="upex">
	  <input type="button" value="Upload" id="uploadFigurehead">
    </form>

  </div>
	 
      <div id="song" style="margin-top:4px;">
      <div style=" overflow:auto;">
      <table cellspacing="0" cellpadding="1" cellpadding class = "songnames" id = "songTable">
      <% songs.forEach(function(song){ %>
        <tr id="song_name" style="color:#000; border-bottom: 2px solid;" class = "<%=song._id%>">
          <td><div data-tag ="<%=song._id%>" class = "songname" ><%= song.name %></div></td>
		  <td style="float:right;min-width:120px;margin-top:5px;cursor:pointer;"><img data-name = "<%=song.name%>" data-tag ="<%=song._id%>" class = "vidPlay" src="play.jpg" style="height:15px;width:15px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
		  <img data-name = "<%=song.name%>" data-tag ="<%=song._id%>" class = "addPlay" src="favoriteIcon.png" style="height:15px;width:15px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
		  <img data-name = "<%=song.name%>" data-tag = "<%=song._id%>" class="deletebutton" src="deleteIcon.png" style="height:15px;width:15px;">
		  <% if (song.inTourney == "Submit") {%> 
		  <input data-genre = "<%=song.genre%>" data-name = "<%=song.name%>" data-tag ="<%=song._id%>" type="button" value="<%=song.inTourney%>" id="tourneyAdd" class="addTourney" onclick="tourneyButtonChange();"></td>
		  <% }else {%>
			<input data-genre = "<%=song.genre%>" data-name = "<%=song.name%>" data-tag ="<%=song._id%>" type="button" value="<%=song.inTourney%>" id="tourneyAdd" class="inTourney" ></td>
		  <%}%>
	  </tr>
      <% }); %>
			
          </table>  

        </div>
            </div> 
          </div>


  <div id="playlistContent">
    <div id="song" style="margin-top:4px;">
	<div style=" overflow:auto;">
        <table cellspacing="0" cellpadding="1" style="color:#000;margin-top:21px;" id = "playlistTable" class = "songnames" >
          <% playlist.forEach(function(play){ %>
          <tr id="song_name" style="color:#000; border-bottom:2px solid;" class = "p<%=play.songID%>" >
            <td><div style="max-width:230px;" data-tag ="<%=play.songID%>" class = "songname"><%= play.name %></div></td>
			<td style="float:right;min-width:40px;margin-top:5px;cursor:pointer;"><img data-name = "<%=play.name%>" data-tag ="<%=play.songID%>" class = "vidPlay" src="play.jpg" style="height:15px;width:15px;-moz-border-radius:10px;border-radius: 10px;-webkit-border-radius: 10px;">
            <img data-tag = "<%=play.songID%>" class="playdelete" id = "<%=play.songID%>" src="favoriteRemove.png" style="height:15px;width:15px;"></td>
          </tr>
          <% }); %>
        </table> 
    </div> 
  </div>    
</div>


        </div>
		
		
<script>
          $("document").ready(function(){
		  
		  $("#songButton").trigger('click');
		  
          $("li#songButton").click(function() {
		   $('li#songButton').addClass("highlightTab");
            $('li#favButton').removeClass("highlightTab");
          $('li#favButton').click(function(){
            $('li#favButton').addClass("highlightTab");
			$('li#songButton').removeClass("highlightTab");
          })
            });
          });          
          </script>
        

 <script>
          $("document").ready(function(){
            $('#uploadSong').change(function(){
              $('div#info').addClass("unhidden");
            });
          $('a#closeButton').click(function(){
            $('div#info').removeClass("unhidden");
          })
          $('input#cancelUpload').click(function(){
            $('div#info').removeClass("unhidden");
          })
		  $('#uploadFigurehead').click(function() {
             $('#uploadSong').click();
            });
          });
         </script> 

<div id = "users"></div>
        <div id="name" class="c5">

        <spanName id="displayName" onclick="exchange(this); visibilityName();" style="color:black"><%=name%></spanName>
        <form method = "POST" action = "/changeName" id = "chName">
          <input id="displayNameEdit" name="editName" class="replace" style="font-size:20px" type="text" value="">
          <input type="submit" id="submitNameButton" value="Submit" style="visibility: hidden" onclick="visibilityName(); exchange((document.getElementById('displayNameEdit')));"/>
        </form>
        <div id="location">
        <spanLocation id="spanLocation">
        <span id="displayLocation" onclick="exchange(this); visibilityLocation();"><%=location%></span>
        </spanLocation>
        <form method = "POST" action = "/changeLocation" id = "chLoc">
          <input id="displayLocationEdit" name="editLocation" style="font-size:10px"class="replace" type="text" value="">
          <input type="submit" id="submitLocationButton" value="Submit" style="visibility: hidden" onclick="visibilityLocation(); exchange((document.getElementById('displayLocationEdit')));"/>
        </form>
        </div>

      <div id="profilePicture" style="margin:auto">
        <img id="preview" src="<%=imgid%>" data-tag="<%=id%>">
        <ul class="interaction" id="followInfo">
        <div id="followinglistb" class="modalbutton"><li><div id="following" style="font-size:12px"><strong>Following</strong><br></div></li></div>
        <li><input type="button" value="Follow" class="stampFollowt" ></li><br>
        <div id="followerslistb" class="modalbutton"><li><div id="followers" style="font-size:12px"><strong>Followers</strong><br></div></li></div>
        </ul>
        <ul class="interaction" id="social">
        <li><div class="fb-like" id="fbIcon" data-href="<%=facebook%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li><br>
        <!--<a href="<%=twitter%>" id="twit" target="_blank"><li><img src="twitter.png" id="twitIcon"></li>-->
        <li><a href="<%=twitter%>" id="twitIcon" class="twitter-follow-button" data-show-screen-name="false"></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li></a><br> 
        <form method = "POST" action = "/changeImage" id = "chImg" enctype="multipart/form-data">
          <input name = "submit" type="submit" id="submitProfPic" value="Submit" onclick="visibilityPicButton();">
          <input name = "file" type="file" onchange ="previewImage(this); showSubmit((document.getElementById('submitProfPic')))" id="uploadPicture" data-tag = "<%=imgid%>" style="display:none">  
        </form>
        </ul>
		
		
        <!--Picture Preview-->
        <script type="text/javascript">      
        function previewImage(input) {
          if (input.files && input.files[0]) {
           var reader = new FileReader();
            reader.onload = function (e) {
             //the only jQuery line.  All else is the File API.
              $('#preview').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
          }
        }
        </script>
        <script>
        function showSubmit(submit){
          submit.style.visibility="visible";
        }
        </script>
        <!--End Picture Preview-->
        <!--Profile Pic Upload Dialog-->    
           <script>
           $('#preview').click(function() {
             $('#uploadPicture').click();
            });
           </script>
        <!--END Profile Pic Upload Dialog--> 

      </div>
<br>

        <div id="video">
        <div id="bio" >
    <spanBio id="displayBio" onclick="exchange(this); visibilityBio();"><%=bio%></spanBio>
        <form method = "POST" action = "/changeBio" id = "chBio">
          <input type="text" id="displayBioEdit" name="editBio" class="replace" value="" style="display:none;">
          <input type="submit" id="submitBioButton" value="Submit" style="display:none;" onclick="visibilityBio(); exchange((document.getElementById('displayBioEdit')));"/> 
        </form> 
      </div>
          <div class="c12 end" id="videoPlayer" style="border:none">
           <video height="300px" width="80%" id="vidYo" class="video-js vjs-default-skin" controls autoplay="true" data-setup='{"techOrder": ["html5", "flash"]}'>           
		   <source src="" type="video/mp4" id = "source">
            </video>
          </div>   

         </div> 
</div>
   <div class="c2" id="feed" style="float:right"><b><spanLabel id="newsFeedLabel" style="font-size:15px; border-bottom: 1px solid rgba(180,7,6,1); padding-left:31%; padding-right:31%;">News Feed</spanLabel></b></div>
</div>
</div>
</div> 

</div>



<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

</div>

<script>
  $(document).ready(function(){
    $('#create').show();
  });

</script>



<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
</body>
<% script('video.js') -%>       
<script>
  videojs("vidYo", {}, function(){
  // Player (this) is initialized and ready.
  });
</script>
<script>
  videojs.options.flash.swf = "video-js.swf"
</script>     





<% stylesheet('modals.css') -%>
<%-partial('modals', ["'IJKLMNOPQTUWX'"]) %>



